
/* To be removed after project completion */

#temporary {
  position: fixed;
  text-align: right;
  font-size: 12px;
  background-color: #f87060;
  color: #fff;
  margin-left: 600px;
  opacity: .75;
  padding: 10px;
}

/* Start of project */
/* General Styles
Fix 1= Browser sizing changes layout */
* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.3;
}

body {
  background-color: #CDD7D6;
}

.content {
  max-width: 500px;
  margin: 50px 250px;
}

section.quals {
  background-color: #dae1e0;
  padding: 20px 20px;
  margin: 25px 0px;
  border: 4px solid #dae1e0;
  border-radius: 10px;
}

.work {
  margin: 2px;
}

h1 {
  text-align: center;
  padding: 25px 0;
  background-color: #102542;
  border: 8px solid #FFF;
  border-radius: 4px;
  opacity: 0.95;
  width: 800px;
  height: 125px;
  color: #FFF;
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

.quals a {
  color: #102542;
}

.school {
  display: inline-block;
}

p {
  color: #102542;
}

nav {
  display: inline-block;
  margin: 0;
  width: 800px;
}

nav ul {
  margin: 0;
  padding: 8px;
  display: inline-block;
  width: 800px;
}

nav ul li {
  display: inline-block;
  list-style-type: none;
  margin: 15px 30px;
  border: 4px solid #fff;
  opacity: .95;
  background-color: #b3a394;
  border-radius: 4px;
  padding: 8px;
}

li a {
  color: #ffffff;
}
}

ul {
  margin: 0;
  width: 500px;
}

#topbar {
  margin: 0;
}

.skillz1 li {
  color: #102542;
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: justify;
}

.skillz2 li {
  color: #102542;
  display: block;
  padding: 10px;
  margin: 10px;
  text-align: justify;
}
